.calendarContainer {
  position: relative;
  display: flex;
  flex-direction: row-reverse;

  background-color: #14172b;

  input {
    color: white;
    padding: 14px 16px;
    font-family: "Tomorrow";
    font-weight: 600;
    font-size: 16px;
    background: #14172b;
    border: none;
    outline: none;
    cursor: pointer;
  }

  div {
    right: 0;
    left: inherit;
  }
}
