.searchBarContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 24px;

  p {
    font-weight: 600;
    font-family: Tomorrow;
    color: rgba(255, 255, 255, 0.9);
    font-size: 18px;
  }
}
